
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="/default_body_style.css">
    <link rel="stylesheet" href="/chatbox_style.css">
    <script src="/websocket.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/dynamic_table_style.css">

    <style>
      #map {
          height: 50vh;   
          width: 100%;    
          margin-top: 0;  
          z-index: 4;     
      }
    </style>
  </head>
  <body>
  <div class="topnav" >
  <h1 onclick="scrollToView(this.id)" id="company_name"><span style="color: rgb(255, 255, 255);  height: 100%;">PALACIOS SOLUTIONS <span id="title_bar">|</span> Your Personal Data Engineer</span></h1>
  <button class="buttons" id="lets_talk" onclick="scrollToView(this.id)" style="color: black;" >Let's Talk</button>
</div>

<div class="phonenav" >
  <h3 id="phonenav_compname"onclick="scrollToView(this.id)" style="color: white; margin: 0 auto;">PALACIOS SOLUTIONS</h3>
  <hr id="phonenav_hr" onclick="scrollToView(this.id)" style="color:white; width: 50%; margin: .01 auto;">
  <h3 id="phonenav_headline"onclick="scrollToView(this.id)" style="color: white; margin: 0 auto; font-size: 15px;"> Your Personal Data Engineer</h3>

  <button style="height: auto; margin: 0 auto; margin-top: 10px; color: black;" class="buttons" id="lets_talk" onclick="scrollToView(this.id)" >Let's Talk</button>
</div>

<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 10%; padding: 2%;">
          <div style=" text-align: center; margin-bottom: 2%;" >
        <h1 class="section_title" style=" font-size: 42px; ">CHOOSE A ROUTE:</h1>
      </div>
    <div style="display: flex; flex-direction: row; align-items: flex-start; gap: 5%; justify-content: flex-start; font-family: Arial, sans-serif;">
        <div style="display: flex; flex-direction: column;">
          <label for="busRoute" style="font-size: 1.2rem; font-weight: bold; margin-bottom: 5px;">Bus Route:</label>
          <input list="routes" id="busRoute" name="busRoute" 
                style="padding: 10px 12px; font-size: 1.1rem; border-radius: 6px; border: 1px solid #ccc; width: 200px;" />
          <datalist id="routes"></datalist>
        </div>

        <div style="display: flex; flex-direction: column;">
          <label for="direction" style="font-size: 1.2rem; font-weight: bold; margin-bottom: 5px;">Direction:</label>
          <input list="directions" id="direction" name="direction" 
                style="padding: 10px 12px; font-size: 1.1rem; border-radius: 6px; border: 1px solid #ccc; width: 200px;" />
          <datalist id="directions"></datalist>
        </div>

        <div style="display: flex; flex-direction: column;">
          <label for="stopName" style="font-size: 1.2rem; font-weight: bold; margin-bottom: 5px;">Stop Name:</label>
          <input list="stops" id="stopName" name="stopName" 
                style="padding: 10px 12px; font-size: 1.1rem; border-radius: 6px; border: 1px solid #ccc; width: 200px;" />
          <datalist id="stops"></datalist>
        </div>

        <div style="display: flex; flex-direction: column;">
          <label style="font-size: 1.2rem; font-weight: bold;">Next Bus Arrival:</label>
          <h1 style="font-size: 50px; margin: 0 auto; color: purple; font-style: italic;" id="next_arrival"></h1>

        </div>

        <div style="display: flex; flex-direction: column;">
          <label style="font-size: 1.2rem; font-weight: bold;">Total In-Service:</label>
          <h1 style="font-size: 50px; margin: 0 auto; color: purple; font-style: italic;" id="total_inservice"></h1>

        </div>
    </div>
    <div id="map" style="margin-top: 1%;"></div>
  </div>
</div>
<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center;">
        <h1 class="section_title" style=" font-size: 42px; ">LIVE DATA STAGING</h1>
      </div>
    <div class="case_study_container">
      
      <!-- BRONZE -->
      <div class="case_study_cards bronze" style="background: linear-gradient(135deg, rgba(200,138,76,0.432), rgba(230,180,80,0.3), rgba(205,128,50,0.6)); box-shadow: 0px 3px 9px rgba(0,0,0,0.429); border-radius: 10px; padding: 1em;">
        <img class="medallian_image" style="max-width: 50px; border-radius: 20px; margin: 0 auto;" src="/portfolio/images/bronze.png">
        <h3 style="font-size: 40px; text-align: center; letter-spacing: 4px; background: linear-gradient(90deg, rgba(0,40,45,0.85), rgba(0,90,110,0.9), rgba(0,0,0,0.95)); -webkit-background-clip: text; color: transparent;">BRONZE</h3>
        <div class="outputs" id="bronzejsonContainer"
            style="
                width:100%;
                background:#0f111a;
                color:#eee;
                font-family:monospace;
                padding:1em;
                border-radius:8px;
                max-height:500px;
                overflow-y:auto;
                white-space:pre;
                line-height:1.4;
                box-sizing:border-box;
            ">
        </div>


      </div>
      
      <!-- SILVER -->
      <div class="case_study_cards silver" style="background: linear-gradient(135deg, rgba(192,192,192,0.6), rgba(220,220,220,0.3), rgba(192,192,192,0.6)); box-shadow: 0px 3px 9px rgba(0,0,0,0.429); border-radius: 10px; padding: 1em;">
        <img class="medallian_image" style="max-width: 50px; border-radius: 20px; margin: 0 auto;" src="/portfolio/images/silver.png">
        <h3 style="font-size: 40px; text-align: center; letter-spacing: 4px; background: linear-gradient(90deg, rgba(0,40,45,0.85), rgba(0,90,110,0.9), rgba(0,0,0,0.95)); -webkit-background-clip: text; color: transparent;">SILVER</h3>
        <div class="outputs" id="silverjsonContainer"
            style="
                width:100%;
                background:#0f111a;
                color:#eee;
                font-family:monospace;
                padding:1em;
                border-radius:8px;
                max-height:500px;
                overflow-y:auto;
                white-space:pre;
                line-height:1.4;
                box-sizing:border-box;
            ">
        </div>
      </div>
      
      <!-- GOLD -->
      <div class="case_study_cards gold" style="background: linear-gradient(135deg, rgba(255,215,0,0.6), rgba(255,240,128,0.3), rgba(255,215,0,0.6)); box-shadow: 0px 3px 9px rgba(0,0,0,0.429); border-radius: 10px; padding: 1em;">
        <img class="medallian_image" style="max-width: 50px; border-radius: 20px; margin: 0 auto;" src="/portfolio/images/gold.png">
        <h3 style="font-size: 40px; text-align: center; letter-spacing: 4px; background: linear-gradient(90deg, rgba(0,40,45,0.85), rgba(0,90,110,0.9), rgba(0,0,0,0.95)); -webkit-background-clip: text; color: transparent;">GOLD</h3>
        <div class="outputs" id="goldjsonContainer"
            style="
                width:100%;
                background:#0f111a;
                color:#eee;
                font-family:monospace;
                padding:1em;
                border-radius:8px;
                max-height:500px;
                overflow-y:auto;
                white-space:pre;
                line-height:1.4;
                box-sizing:border-box;
            ">
        </div>
      </div>

    </div>
  </div>
</div>

<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center; margin-bottom: 1%;" >
        <h1 class="section_title" style=" font-size: 42px; ">OVERALL VEHICAL DELAYS</h1>
      </div>
      <canvas id="areaLineChart" width="400" height="200"></canvas>
  </div>
</div>

<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center; margin-bottom: 1%;" >
        <h1 class="section_title" style=" font-size: 42px; ">CURRENT DELAYS BY ROUTE</h1>
      </div>
      <canvas id="route_delays" width="400" height="200"></canvas>
  </div>
</div>

<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center; margin-bottom: 1%;" >
        <h1 class="section_title" style=" font-size: 42px; ">TOP 10 DELAYS BY BUS STOP NAME</h1>
      </div>
      <canvas id="stop_delays" width="400" height="200"></canvas>
  </div>
</div>
<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center; margin-bottom: 1%;" >
        <h1 class="section_title" style=" font-size: 42px; ">CURRENT DELAYS BY DIRECTION</h1>
      </div>
<div style="width: 50%; height: 50vh; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
  <canvas id="direction_delays" style="max-width: 100%; max-height: 100%;"></canvas>
</div>

  </div>
</div>



<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center;">
        <h1 class="section_title" style=" font-size: 42px; ">DATA COLUMN DEFINITIONS </h1>
      </div>

      
        <div class="filter-container">
          <label for="columnSelect">Filter by column:</label>
          <select id="columnSelect-definitions"></select>
          <input type="text" id="filterInput-definitions" placeholder="Enter filter text...">
        </div>

      <div id="table-container-definitions"></div>
  </div>
  
</div>


<div class="desktop_intro" style="display: flex; align-items: center; justify-content: center;">
  <div class="main_section" id="intro_section" style="background-color: #fff; width: 80%; border-radius: 20px; margin-top: 1%; padding: 2%;">
      <div style=" text-align: center;">
        <h1 class="section_title" style=" font-size: 42px; ">DATA TABLE DEFINITIONS </h1>
      </div>

      
        <div class="filter-container">
          <label for="columnSelect">Filter by column:</label>
          <select id="columnSelect-columndefinitions"></select>
          <input type="text" id="filterInput-columndefinitions" placeholder="Enter filter text...">
        </div>

      <div id="table-container-columndefinitions"></div>
  </div>
  
</div>

</body>

  <script>
    async function get_delay_summary(){
      var request = new Request('/blob-storage/silver/CTA/ctabustracker/delays', {
                          method: 'GET',
                          headers: new Headers({'Accept': 'application/json'})});
      var response = await fetch(request);
      let result = null
      if (response.ok){ 
          result = await response.json()
          result = result['values']
      }
      return result;

    }

    async function plot(){
    var delays = await get_delay_summary()
    console.log(delays)
    labels = []
    y = []
    delays.forEach(element => {
      labels.push(element['Hour']+":"+element['Minute'])
      y.push(element['total_delayed'])
    });
    console.log(labels)

    
    const ctx = document.getElementById('areaLineChart').getContext('2d');
    const areaLineChart = new Chart(ctx, {
      type: 'line', // Line chart type
      data: {
        labels: labels,
        datasets: [{
          label: 'Delayed Vehicals',
          data: y,
          borderColor: 'rgba(75, 192, 192, 1)', // Line color
          backgroundColor: 'rgba(75, 192, 192, 0.2)', // Fill color for the area
          borderWidth: 2,
          pointRadius: 20,

          fill: true // Enables the area fill
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: true,
            position: 'top'
          }
        },
        scales: {
          x: {
            title: {
              display: true,
              text: 'Hour:Minute'
              ,color: '#000000', // black
          font: {
            size: 18,       // font size in pixels
            weight: 'bold', // optional
        }
            }
          },
          y: {
            title: {
              display: false,
              text: 'Delays'
            },
            beginAtZero: true
          }
        }
      }
    });
  }
  plot()
  </script>
  <script>
    async function get_route_delay_summary(){
      var request = new Request('/blob-storage/silver/CTA/ctabustracker/route_delays', {
                          method: 'GET',
                          headers: new Headers({'Accept': 'application/json'})});
      var response = await fetch(request);
      let result = null
      if (response.ok){ 
          result = await response.json()
          result = result['values']
      }
      return result;

    }

    async function plot(){
      var rt_delays = await get_route_delay_summary()
      console.log(rt_delays)
      labels = []
      y = []
      rt_delays.forEach(element => {
        labels.push(element['rt'])
        y.push(element['total_delayed'])
      });
      console.log(labels)

      
      const ctx = document.getElementById('route_delays').getContext('2d');
      new Chart(ctx, {
        type: 'bar', 
        data: {
          labels: labels,
          datasets: [{
            label: 'Delayed Vehicals',
            data: y,
            borderColor: 'rgba(75, 192, 192, 1)', // Line color
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Fill color for the area
            borderWidth: 2,
            pointRadius: 20,

            fill: true // Enables the area fill
          }]
        },
        options: {
    // indexAxis: 'y',
    elements: {
      bar: {
        borderWidth: 2,
      }
    },
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: 'Delayed Routes'
      }
    }
    , scales: {   
      y: {
        title: {
          display: true,
          text: 'TOTAL DELAYS',
          color: '#000000', // black
          font: {
            size: 18,       // font size in pixels
            weight: 'bold', // optional
        }
      }
      },
      x: {
        title: {
          display: true,
          text: 'ROUTE'
          ,color: '#000000', // black
          font: {
            size: 18,       // font size in pixels
            weight: 'bold', // optional
        }
        }
      }
    }
  },

      });
  }
  plot()
  </script>

  <script>
    async function get_stop_delay_summary(){
      var request = new Request('/blob-storage/silver/CTA/ctabustracker/stop_delays', {
                          method: 'GET',
                          headers: new Headers({'Accept': 'application/json'})});
      var response = await fetch(request);
      let result = null
      if (response.ok){ 
          result = await response.json()
          result = result['values']
      }
      return result;

    }

    async function plot(){
      var rt_delays = await get_stop_delay_summary()
      console.log(rt_delays)
      labels = []
      y = []
      let top = 10
      let count =0;
      rt_delays.forEach(element => {
        if (count < top){
           labels.push(element['stpnm'])
            y.push(element['total_delayed'])
            count+=1

        
        }

      });
      console.log(labels)

      
      const ctx = document.getElementById('stop_delays').getContext('2d');
      new Chart(ctx, {
        type: 'bar', 
        data: {
          labels: labels,
          datasets: [{
            label: 'Delayed Vehicals',
            data: y,
            borderColor: 'rgba(75, 192, 192, 1)', // Line color
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Fill color for the area
            borderWidth: 2,
            pointRadius: 20,

            fill: true // Enables the area fill
          }]
        },
        options: {
    indexAxis: 'y',
    elements: {
      bar: {
        borderWidth: 2,
      }
    },
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: false,
        text: 'Delayed Routes'
      }
    }
    , scales: {   
      y: {
        title: {
          display: true,
          text: 'STOP NAME',
          color: '#000000', // black
          font: {
            size: 18,       // font size in pixels
            weight: 'bold', // optional
        }
      }
      },
      x: {
        title: {
          display: true,
          text: 'TOTAL DELAYS'
          ,color: '#000000', // black
          font: {
            size: 18,       // font size in pixels
            weight: 'bold', // optional
        }
        }
      }
    }
  },

      });
  }
  plot()
  </script>

  <script>
    async function get_direction_delay_summary(){
      var request = new Request('/blob-storage/silver/CTA/ctabustracker/direction_delays', {
                          method: 'GET',
                          headers: new Headers({'Accept': 'application/json'})});
      var response = await fetch(request);
      let result = null
      if (response.ok){ 
          result = await response.json()
          result = result['values']
      }
      return result;

    }

    async function plot(){
      var rt_delays = await get_direction_delay_summary()
      console.log(rt_delays)
      labels = []
      y = []
      let top = 10
      let count =0;
      rt_delays.forEach(element => {
        if (count < top){
           labels.push(element['rtdir'])
            y.push(element['total_delayed'])
            count+=1

        
        }

      });
      console.log(labels)

      
      const ctx = document.getElementById('direction_delays').getContext('2d');
new Chart(ctx, {
  type: 'pie', 
  data: {
    labels: labels,
    datasets: [{
      label: 'Delayed Vehicles',
      data: y,
      backgroundColor: [
        '#4bc0c0', '#ff6384', '#ffcd56', '#36a2eb', '#9966ff', '#ff9f40'
      ], // add more colors if needed
      // borderColor: '#000000', // optional border
      borderWidth: 2
    }]
  },
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
        labels: {
          font: {
            // size: 16, // legend font size
            // weight: 'bold'
          },
          color: '#000000' // legend font color
        }
      },
      title: {
        display: false,
        text: 'Delayed Routes',
        font: {
          size: 20,
          weight: 'bold'
        },
        color: '#000000'
      }
    }

  },

      });
  }
  plot()
  </script>


<script src="/create_table.js"></script>
<script>
  let data = [
  {
    "originalColumnName": "rt",
    "columnName": "Route",
    "description": "Unique route identifier assigned to each bus line.",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true
  },
  {
    "originalColumnName": "stpnm",
    "columnName": "Stop_Name",
    "description": "Name of the bus stop or location.",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true


  },
  {
    "originalColumnName": "vehical_lat",
    "columnName": "Bus_Latitude",
    "description": "Latitude coordinate of the actual bus.",
    "dataType": "FLOAT",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  },
  {
    "originalColumnName": "vehical_lon",
    "columnName": "Bus_Longitude",
    "description": "Longitude coordinate of the actual bus.",
    "dataType": "FLOAT",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  },
  {
    "originalColumnName": "stpid",
    "columnName": "Stop_ID",
    "description": "Unique stop identifier used by the CTA system.",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  },
  {
    "originalColumnName": "rtdir",
    "columnName": "Direction",
    "description": "Direction of the route (e.g., Northbound, Southbound).",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  },
  {
    "originalColumnName": "prdtm",
    "columnName": "Predicted_Time",
    "description": "Date & Time of bus arrival to the stop",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  },
  {
    "originalColumnName": "prdctdn",
    "columnName": "Predicted_ArrivesIn",
    "description": "Date & Time of bus arrival in minutes to stop",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  },
  {
    "originalColumnName": "dly",
    "columnName": "Bus_IsDelayed",
    "description": "True/False if bus is delayed to arrive at station",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  }
  ,
  {
    "originalColumnName": "tmstmp",
    "columnName": "Sync_TimeStamp",
    "description": "Synchronized time stamp with CTA",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
  ,
  {
    "originalColumnName": "typ",
    "columnName": "Type",
    "description": "Vehical code type",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
   ,
  {
    "originalColumnName": "vid",
    "columnName": "Vehical ID",
    "description": "Vehical Identifier",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
  ,
  {
    "originalColumnName": "dstp",
    "columnName": "DistanceStop",
    "description": "Linear Distance (feet) left to be traveled",
    "dataType": "INT",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
   ,
  {
    "originalColumnName": "rtdd",
    "columnName": "Route Language",
    "description": "Language Specific route designator",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
    ,
  {
    "originalColumnName": "des",
    "columnName": "Destination",
    "description": "target destiniation of vehical",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': true

  }
   ,
  {
    "originalColumnName": "tablockid",
    "columnName": "Tab Lock ID",
    "description": "Scheduled Block Identifer for work currently being performed by the vehical",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
   ,
  {
    "originalColumnName": "tatripid",
    "columnName": "TA_Trip_Identifier",
    "description": " TA's version of the scheduled trip identifier for the vehicle's current trip. ",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  },
  {
    "originalColumnName": "origtatripno",
    "columnName": "TA_Original_Trip_Identifier",
    "description": " Trip ID defined by the TA scheduling system",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  } , {
    "originalColumnName": "dyn",
    "columnName": "Dynamic_Action",
    "description": "The dynamic action type affecting this prediction",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
  , {
    "originalColumnName": "zone",
    "columnName": "Zone",
    "description": "The zone name if the vehicle has entered a defined zones, otherwise blank. ",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }  , {
    "originalColumnName": "psgld",
    "columnName": "Passenger_Load",
    "description": " String representing the ratio of the current passenger count to the vehicle's total capacity",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
   , {
    "originalColumnName": "stst",
    "columnName": "Scehduled_Start",
    "description": " Contains the time (in seconds past midnight) of the scheduled start of the trip.",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }  , {
    "originalColumnName": "stsd",
    "columnName": "Formatted_Scehduled_Start",
    "description": " Contains the date (in “yyyy-mm-dd” format) of the scheduled start of the trip. ",
    "dataType": "STRING",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
  , {
    "originalColumnName": "flagstop",
    "columnName": "Flag_Stop",
    "description": "An integer code representing the flagstop information for the prediction. ",
    "dataType": "INT",
    "source": "CTA",
    "database": "ctabustracker",
    "tableName": "CTA_BusPrediction",
    "originalTableName": "getpredictions"
    ,'isIncluded': false

  }
  
  
]
  let tableContainer = document.getElementById("table-container-definitions");
  let columnSelect = document.getElementById("columnSelect-definitions");
  let filterInput = document.getElementById("filterInput-definitions");



  filterInput.addEventListener("input", () => {
      const column = columnSelect.value;
      const filterText = filterInput.value.toLowerCase();
      const filteredData = data.filter(item =>
        String(item[column]).toLowerCase().includes(filterText)
      );
      createTable(filteredData,tableContainer);
    });

  let columns = Object.keys(data[0]);
  columns.forEach(col => {
      const option = document.createElement("option");
      option.value = col;
      option.textContent = col;
      columnSelect.appendChild(option);
  });
  createTable(data,tableContainer)
</script>

<script>
   data =[{
    'originalTableName': "ttpositions.aspx",
    'tableName': 'CTA_TrainPosition',
    'source': "CTA",
    'unrollBy': "route",
    'database': "lapi.transitchicago",
    'api_version': "1.0",
    'description': "Real-time train positions and status information."
},
{
    "originalTableName": "getroutes",
    "tableName": "CTA_BusRoute",
    'source': "CTA",
    'unrollBy': 'routes',
    'database': "ctabustracker",
    'api_version': "v3",
    'description': "List of all CTA bus routes with route details."
},
{
    "originalTableName": "getpatterns",
    "tableName": "CTA_BusPatterns",
    'source': "CTA",
    'unrollBy': 'ptr',
    'database': "ctabustracker",
    'api_version': "v3",
    'description': "Bus route patterns and stop sequences."
},
{
    "originalTableName": "getvehicles",
    "tableName": "CTA_BusVehicle",
    'source': "CTA",
    'unrollBy': 'vehicle',
    'database': "ctabustracker",
    'api_version': "v3",
    'description': "Current locations and status of CTA buses."
},
{
    "originalTableName": "getpredictions",
    "tableName": "CTA_BusPrediction",
    'source': "CTA",
    'unrollBy': 'prd',
    'database': "ctabustracker",
    'api_version': "v3",
    'description': "Predicted arrival times for CTA buses at stops."
}]



 tableContainer = document.getElementById("table-container-columndefinitions");
   columnSelect = document.getElementById("columnSelect-columndefinitions");
   filterInput = document.getElementById("filterInput-columndefinitions");



  filterInput.addEventListener("input", () => {
      const column = columnSelect.value;
      const filterText = filterInput.value.toLowerCase();
      const filteredData = data.filter(item =>
        String(item[column]).toLowerCase().includes(filterText)
      );
      createTable(filteredData,tableContainer);
    });

   columns = Object.keys(data[0]);
  columns.forEach(col => {
      const option = document.createElement("option");
      option.value = col;
      option.textContent = col;
      columnSelect.appendChild(option);
  });
  createTable(data,tableContainer)
</script>



<script>
    var map = L.map('map', {zoomControl: false}).setView([41.881832, -87.623177], 12);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 22,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var markerGroup = L.layerGroup();
    var pLineGroup = L.layerGroup()
    var liveTrainMarkerGroup = L.layerGroup();
    var markergroups = []
    var stopMarkerGroup = L.layerGroup();
    var selectedMarkerGroup = L.layerGroup();
    markergroups.push(stopMarkerGroup)
    markergroups.push(selectedMarkerGroup)
    markergroups.push(liveTrainMarkerGroup)

  var live_interval_id = null;
</script>


<script>
  async function get_routes(){
      var request = new Request('/blob-storage/bronze/CTA/ctabustracker/getroutes', {
                          method: 'GET',
                          headers: new Headers({'Accept': 'application/json'})});
      var response = await fetch(request);
      let result = null
      if (response.ok){ 
          result = await response.json()
          console.log(result)
          result = result['bustime-response']['routes']
      }
      return result;
  }

  async function silver_get_routes(rt){
        var request = new Request('/blob-storage/silver/CTA/ctabustracker/getroutes', {
                            method: 'GET',
                            headers: new Headers({'Accept': 'application/json'})});
        var response = await fetch(request);
        let result = null
        if (response.ok){ 
            result = await response.json()
            result = result['values']
            if (rt != null && rt != undefined){
              filtered_results = []
              result.forEach(element => {
                if (element['rt']==rt){
                  filtered_results.push(element)
                }
              });
              result = filtered_results
            }
        }
        return result;
    }

  async function get_route_stops(){
        var request = new Request('/blob-storage/silver/CTA/ctabustracker/getroutestops', {
                  method: 'GET',
                  headers: new Headers({'Accept': 'application/json'})});
        var response = await fetch(request);
        let result = null
        if (response.ok){ 
            result = await response.json()
            result = result['values']
        }
        return result;
    }

function create_circle_marker(lat,lon, color, popup_html, group){
        var marker = L.circleMarker([lat, lon], {
                                color: 'black',      
                                fillColor: color, 
                                fillOpacity: 0.8,
                                radius: 25 
                            });
        var popup = L.popup()
            .setContent(popup_html);

        marker.bindPopup(popup).openPopup();
            marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });

        group.addLayer(marker);
        group.addTo(map);
    }


  function create_polyline(latLngs, linecolor){
          pLineGroup.clearLayers();
          var polyline = L.polyline(latLngs, { color: linecolor, weight: 8 });
          pLineGroup.addLayer(polyline)
          pLineGroup.addTo(map)
          map.fitBounds(polyline.getBounds());

      }


  async function populate_routes() {
  const routes = await get_routes();
  console.log(routes);
  const datalist = document.getElementById("routes");

  datalist.innerHTML = "";

  routes.forEach(route => {
    const option = document.createElement("option");
    option.value = route['rt'] + ' - ' + route['rtnm'];
    option.dataset.directions = JSON.stringify(route['directions']);
    option.dataset.rt = JSON.stringify(route['rt']);
    option.dataset.rtclr = JSON.stringify(route['rtclr']);
    datalist.appendChild(option);
  });
}


async function populate_stops(rt, direction) {
  const routes = await get_route_stops();
  console.log(routes);
  const datalist = document.getElementById("stops");

  datalist.innerHTML = "";

  routes.forEach(route => {
    if (route['rt'] == rt && route['directions'].includes(direction)){
      const option = document.createElement("option");
      option.value =route['stpnm']
      datalist.appendChild(option);
    }
  });
}


</script>

<script>


const stops = document.getElementById("stops");
const stopNameInput = document.getElementById("stopName")
const busRouteInput = document.getElementById("busRoute");
const directionInput = document.getElementById("direction");
const datalist = document.getElementById("routes");

populate_routes()


</script>


<script>
    var rtclr = null;
    var websocket = null;
    live_interval_id = null;
    let socketId= null


    function draw_bus_icon(vinfo, stop_pred){
       let vlat = vinfo['lat']
       let vlon = vinfo['lon']
       let popup_html = `
        <div style="font-family: 'Segoe UI', sans-serif; min-width: 200px;">
          <h3 style="margin: 0; font-size: 16px; color: #00704a;">
            Bus ${vinfo['vid']} - Route ${vinfo['rt']}
          </h3>
          <p style="margin: 4px 0; font-size: 14px;">
            <strong>Direction:</strong> ${stop_pred['rtdir'] || 'Unknown'}
          </p>
          <p style="margin: 4px 0; font-size: 14px;">
            <strong>Destination:</strong> ${vinfo['des'] || stop_pred['des'] || 'N/A'}
          </p>
          <p style="margin: 4px 0; font-size: 14px;">
            <strong>Next Stop:</strong> ${stop_pred['stpnm'] || 'N/A'}
          </p>
          <p style="margin: 4px 0; font-size: 14px;">
            <strong>Arrival:</strong> ${stop_pred['prdtm'] || '—'}
          </p>
          <p style="margin: 6px 0 0; font-size: 43px; color: red;">
            <em>
              ${stop_pred['prdctdn'] 
                ? (stop_pred['prdctdn'] === 'DUE' ? '1 min away' : `${stop_pred['prdctdn']} min away`) 
                : ''}
            </em>
          </p>

        </div>
      `;

        var busIcon = L.divIcon({
        className: 'bus-icon',
        html: `
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24" fill="purple">
            <path d="M4 16c0 1.1.9 2 2 2v1.5c0 .8.7 1.5 1.5 1.5S9 20.3 9 19.5V18h6v1.5c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5V18c1.1 0 2-.9 2-2V6c0-2-2-4-8-4s-8 2-8 4v10zm2-7h12v5H6V9zm0-3h12v2H6V6z"/>
            </svg>
        `,
        iconSize: [56, 56],
        iconAnchor: [28, 28]
        });


      let marker = L.marker([vlat, vlon], { icon: busIcon })
      var popup = L.popup()
      .setContent(popup_html);

      marker.bindPopup(popup).openPopup();
          marker.on('mouseover', function (e) {
          this.openPopup();
      });
      marker.on('mouseout', function (e) {
          this.closePopup();
      });

      liveTrainMarkerGroup.addLayer(marker);
      liveTrainMarkerGroup.addTo(map);

    }


    function handle_payload(payload){
      if (!payload.hasOwnProperty("values")){
        console.log("Values not found")
        return
      }
      let values = payload['values']
      if (values.hasOwnProperty("prd")){
        let predictions = values['prd']
        if (predictions.hasOwnProperty("Stop_Predictions")){
          let stop_predictions = predictions['Stop_Predictions']
       
          if (predictions.hasOwnProperty("Vehicle_Predictions")){
            let vehicle_predictions = predictions['Vehicle_Predictions']
            liveTrainMarkerGroup.clearLayers()
            let busEst = []
            vehicle_predictions.forEach(element => {
              stop_predictions.forEach(stp => {
                if (stp['vid'] == element['vid']){
                  let est = stp['prdctdn']
                  if (est == 'DUE'){
                    est = 1 
                  }else{
                    est = parseInt(est)
                  }
                  busEst.push(est)
                  draw_bus_icon(element, stp)
                }
              });
            });
            bustEst = busEst.sort((a, b) => a - b);
            console.log(busEst)
            console.log("Next Bus Arrival Time:", busEst[0], "min away")
            document.getElementById("next_arrival").innerHTML =busEst[0] + " min away"
            document.getElementById('total_inservice').innerHTML = busEst.length

          }
        }
      }
    }


function prettyPrintJson(obj) {
  // Safely stringify
  let json = JSON.stringify(obj, null, 2);

  // Syntax highlight
  json = json
    .replace(/&/g, '&amp;') // escape HTML
    .replace(/</g, '&lt;')
    .replace(/>/g, '&gt;')
    .replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|\b\d+\b)/g, match => {
      let color = '#ce9178'; // default: string
      if (/^"/.test(match)) {
        color = /:$/.test(match) ? '#9cdcfe' : '#ce9178'; // key vs value
      } else if (/true|false/.test(match)) {
        color = '#569cd6';
      } else if (/null/.test(match)) {
        color = '#569cd6';
      } else if (/^[0-9]+$/.test(match)) {
        color = '#b5cea8';
      }
      return `<span style="color:${color}">${match}</span>`;
    });
    return json
}

    function start_session(onstartmesg, sendTo){
        websocket = new Websocket_Session();
        websocket.initialize()
        
        websocket.session.onmessage = async (event) => {
                let data = JSON.parse(event.data)
                console.log("Message From Server:",data)
                if (data['request'] == 'new_connection'){
                  socketId = data['value']
                  websocket.send_payload(onstartmesg,sendTo, socketId)
                }else{
                  handle_payload(data)
                  document.getElementById('bronzejsonContainer').innerHTML = prettyPrintJson(data['values']['prd']['bronze']);
                  document.getElementById('silverjsonContainer').innerHTML = prettyPrintJson(data['values']['prd']['silver']);
                  document.getElementById('goldjsonContainer').innerHTML = prettyPrintJson(data['values']['prd']['gold']);

                //   document.querySelectorAll('.json-box').forEach(box => {
                //   box.addEventListener('click', () => box.classList.toggle('expanded'));
                // });
                }
        }
    }

document.querySelectorAll('.outputs').forEach(el => {
  el.addEventListener('click', function () {
    const element = this;

    if (document.fullscreenElement) {
      document.exitFullscreen();
      element.style.cursor = 'zoom-in';
      return;
    }

    element.requestFullscreen().then(() => {
      element.style.cursor = 'zoom-out';
      element.style.maxHeight = 'none';
      element.style.width = '100%';
    }).catch(err => {
      console.error("Fullscreen failed:", err);
    });
  });
});

// Reset style whenzzexiting fullscreen
document.addEventListener('fullscreenchange', () => {
  document.querySelectorAll('.outputs').forEach(el => {
    if (!document.fullscreenElement) {
      el.style.maxHeight = '500px';
      el.style.cursor = 'zoom-in';
    }
  });
});



    function draw_route_line(target_routes, rtcolor){
      let latLngs = []
      liveTrainMarkerGroup.clearLayers()
      markerGroup.clearLayers();
      selectedMarkerGroup.clearLayers();
      
      target_routes.forEach(r => {
          let cords = [r['lat'], r['lon']]
          latLngs.push(cords)
          console.log(r)
          popup_html = `
            <div style="font-family: 'Segoe UI', sans-serif; min-width: 180px;">
              <h3 style="margin: 0 0 6px 0; font-size: 16px; color: ${r['rtclr'] || '#004e64'};">
                Route ${r['rt'] || 'N/A'}
              </h3>
              <p style="margin: 2px 0; font-size: 14px;">
                <strong>Stop:</strong> ${r['stpnm'] || 'Unknown Stop'}
              </p>
              <p style="margin: 2px 0; font-size: 14px;">
                <strong>Direction:</strong> ${r['rtdir'] || 'Unknown'}
              </p>
              <p style="margin: 2px 0; font-size: 13px; color: #555;">
                <strong>Stop ID:</strong> ${r['stpid'] || 'N/A'}
              </p>
              <hr style="border: none; border-top: 1px solid #ddd; margin: 6px 0;">
              <p style="margin: 2px 0; font-size: 12px; color: #777;">
                <em>Lat:</em> ${r['lat']?.toFixed(6) || '—'}, 
                <em>Lon:</em> ${r['lon']?.toFixed(6) || '—'}
              </p>
            </div>
          `

          create_circle_marker(r['lat'],r['lon'], rtcolor, popup_html,selectedMarkerGroup)

      });
        // create_polyline(latLngs, rtcolor)
    }
    
    busRouteInput.addEventListener("input", async () => {
          const busroute_selection = busRouteInput.value;
          const selectedOption = Array.from(datalist.options).find(
            o => o.value === busroute_selection
          );

          if (selectedOption) {
              if (live_interval_id != null){
                clearInterval(live_interval_id)
            }
            directionInput.value= ""
            const directions = JSON.parse(selectedOption.dataset.directions);
            const rt = JSON.parse(selectedOption.dataset.rt);
            rtclr = JSON.parse(selectedOption.dataset.rtclr);
            console.log("Valid route selected:", rt, rtclr,directions);
            let target_routes = await silver_get_routes(rt);
            draw_route_line(target_routes, rtclr)




            const datalist = document.getElementById("directions");
            datalist.innerHTML = "";
            directions.forEach(d => {
                const option = document.createElement("option");
                option.value = d['name']
                datalist.appendChild(option);
              });
          }else{
            directionInput.value= ""
            const datalist = document.getElementById("directions");
            document.getElementById("stopName").value = ""
            document.getElementById("stops").innerHTML = ""
            datalist.innerHTML = "";
           pLineGroup.clearLayers();

          }
        });

    directionInput.addEventListener("input", async () => {
      const routeValue = busRouteInput.value.trim();
      const directionValue = directionInput.value.trim();

      const routeOption = Array.from(datalist.options).find(
        o => o.value === routeValue
      );

      if (routeOption && directionValue) {
        const routeId = JSON.parse(routeOption.dataset.rt);
        const direction = directionValue;
        let target_routes = await silver_get_routes(routeId);
        let filtered_results = []
        target_routes.forEach(element => {
          if (element['rtdir'] == direction){
            filtered_results.push(element)
          }
        });
        target_routes = filtered_results
        
        draw_route_line(target_routes, rtclr)


        console.log("Selected Route:", routeId);
        console.log("Selected Direction:", direction);

        populate_stops(routeId, direction);
      } else {
        // Either route or direction is empty → clear stops
        console.log("Clearing stops");
      liveTrainMarkerGroup.clearLayers()
        if (live_interval_id != null){
                clearInterval(live_interval_id)
            }

        const stopInput = document.getElementById("stopName");
        stopInput.value = "";
        document.getElementById("stops").innerHTML = "";
        // pLineGroup.clearLayers();
      }
    });

    stopNameInput.addEventListener("input",async () => {
      const routeValue = busRouteInput.value.trim();
      const directionValue = directionInput.value.trim();
      const stopNameValue = stopNameInput.value.trim();
        const routeOption = Array.from(datalist.options).find(
        o => o.value === routeValue
      );

      if (routeOption && directionValue) {
        const routeId = JSON.parse(routeOption.dataset.rt);
        let target_routes = await silver_get_routes(routeId);
        let filtered_results = []
        target_routes.forEach(element => {
          if (element['rtdir'] == directionValue && element['stpnm'] == stopNameValue){
            filtered_results.push(element)
          }
        });
        target_routes = filtered_results
        if (live_interval_id != null){
                clearInterval(live_interval_id)
            }
        if (target_routes.length > 0){
          let lat = target_routes[0]['lat']
          let lon = target_routes[0]['lon']
          map.setView([lat, lon], 12);
          
          socketId = start_session({'type': 'bus', 'values':target_routes},'tcp')
       
          live_interval_id = setInterval(() => {
              if (websocket.session.readyState === WebSocket.OPEN){
                    websocket.send_payload({'type': 'bus', 'values':target_routes},'tcp', socketId)
                                
              }
            }, 5000);


        
           
        }
        draw_route_line(target_routes, rtclr)
      }

      
    })

</script>

</html>