.buttons{
    width: 100%;  
    padding: 10px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#content {
    position: absolute;
    top: 15px;
    left: 20px;
    bottom: 20px;
    width: 500px;
    max-width: 25%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chatbox_btn {
    font-size: 20px;
    background-color: rgb(189, 1, 1)
}
#chatbox_btn:hover {
    background-color: rgba(152, 0, 0, 0.815);
    transform: scale(1.05);
}
#session_btn {
    margin-top: 10px;
    font-size: 20px;
    background-color: rgb(47, 250, 50);
    
}
#session_btn:hover {
    background-color: rgba(4, 200, 4, 0.9);
    transform: scale(1.05);
}

#chatbox {
    flex: 1;
    color: white;
    background: rgba(2, 33, 73, 0.444);
    align-items: center;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
}