body, html { margin: 0;padding: 0; height: 100%;  background-color: black;  overflow: hidden;}
* {cursor: none;}
#visualizer {
    width: 99.5%; height: 98%;
}


#canvas_container {
    width: 100%;
    height: 100%;
    position: relative;
}