<html>
  <body style="margin:0; padding:0; font-family: Arial, sans-serif; background: linear-gradient(135deg,#f9f9f9,#e0f0f5);">
    <div style="max-width:600px; margin:2rem auto; background-color:#ffffff; border-radius:10px; overflow:hidden; box-shadow:0 4px 15px rgba(0,0,0,0.1);">
      <div style="text-align:center; padding:1.5rem;   background: linear-gradient(360deg,rgba(0, 0, 0, 1) 20%,rgba(2, 42, 44, 1) 35%,rgba(17, 115, 107, 1) 100%); color:white;">
        <h1 style="margin:0; font-size:1.8rem;">NEW CLIENT ALERT</h1>
      </div>
      <div style="padding:2rem; color:#333;">
        <p>Hello,</p>
        <p>A <strong>new client</strong> has reached out. <strong>Read below for details</strong>.</p>
        <div style="background-color:#f0f8ff; padding:1rem; border-radius:8px; margin:1rem 0;">
<div style="background-color:#f0f8ff; padding:1rem; border-radius:8px; margin:1rem 0;">
  <strong>Next Steps:</strong>
  <ul style="word-spacing: 2px; line-height: 1.5em;">
    <li>First Name: </li>
    <li>Last Name:</li>
    <li>Company Email:</li>
    <li>Company Name:</li>
    <li>Phone Number:</li>
  </ul>
</div>

<div style="background-color:#f0f8ff; padding:1rem; border-radius:8px; margin:1rem 0;">
  <strong>Project Details:</strong>
  <blockquote class="quote" style="  font-style: italic; max-width: 900px; margin: 0 auto; line-height: 1.6; text-align: justify; margin-top: 2%; ">
    "Daniel excels at <span style="color: #dd5050;">end-to-end data architecture</span> - handling everything from extraction and storage to transformation, loading, and visualization in Microsoft Fabric and Power BI."
  </blockquote>
  
</div>
</div>
<p>Reply Soon!</p>
</div>
</div>
    <div style="background-color:#f5f5f5; color:#555; text-align:center; font-size:0.85rem; padding:1.5rem;">
    <p>Palacios Solutions – Data Engineering Services</p>
    </div>
    </div>
  </body>
</html>