<!doctype html>
<title>Live Studio</title>
<link rel="stylesheet" href="/life-of-sounds/chatbox_style.css">
<link rel="stylesheet" href="/life-of-sounds/canvas_style.css">
<body>
<div id="canvas_container">
    <div id="content">
        <button class="buttons" id="chatbox_btn">Hide Chat</button>
        <div id="chatbox">
            <button class="buttons" id="session_btn">+ Create Session</button>
        </div>
    </div>
    <canvas id="visualizer" style="width: 100%; height: 100%; display: block;"></canvas>
</div>


</body>
<script src="/life-of-sounds/game_of_life.js"></script>
<script>
    function resizeCanvas() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    }
    
    window.addEventListener("resize", resizeCanvas);
    resizeCanvas(); 

    document.getElementById("chatbox_btn").onclick = function(){
        var chatbox =  document.getElementById("chatbox");
        var content =  document.getElementById("content");
        var chatbox_btn =  document.getElementById("chatbox_btn");
        if (chatbox.style.display != 'none'){
            chatbox.style.display = "none"
            content.style.height = "0px"
            chatbox_btn.textContent = "View Chat"
            console.log("Closing")
            chatbox_btn.style.backgroundColor ='rgba(4, 200, 4, 0.9)';
            chatbox_btn.addEventListener('mouseover', function () {
            chatbox_btn.style.backgroundColor = 'rgba(4, 200, 4, 0.9)';
            });
            chatbox_btn.addEventListener('mouseout', function () {
                chatbox_btn.style.backgroundColor = 'rgba(4, 241, 83, 0.364)';
            });
           
        }else{
            console.log("Opening")
            chatbox.style.display = 'inline-block'
            chatbox_btn.textContent = "Hide Chat"
            chatbox_btn.style.backgroundColor = 'rgba(152, 0, 0, 0.815)'
            chatbox_btn.addEventListener('mouseover', function () {
            chatbox_btn.style.backgroundColor = 'rgba(152, 0, 0, 0.815)'; 
            });
            chatbox_btn.addEventListener('mouseout', function () {
                chatbox_btn.style.backgroundColor = 'rgba(152, 0, 0, 0.551)';
            });
            content.style.height = "";
        }
    }



</script>
<script src="/life-of-sounds/websocket.js"></script>
<script src="/life-of-sounds/onload_session.js"></script>




</script>

<!-- <nav class="outer-col-1" id="chatbox" hidden="true">
  <div id="chat" class="chat-container">  
    <input id="stop_session" class="create-btn" type="button" style="background-color: lightcoral; display: none;" value="Stop Session"/>
    <input id="create_session" class="create-btn" type="button" style="background-color: lightgreen;" value="+ Create Session"/>
    <div id="username-container">
    <input hidden="false" id="username" placeholder="Your name..." onchange="change_username()" style="margin-bottom: 10px; width: 100%;"/>
    <input hidden="false" id="sessionname" placeholder="session name..." onchange="change_sessionname()" style="margin-bottom: 10px; width: 100%;"/>
    </div>
    <div id="messages" class="messages">
    </div>
    
    <div class="chat-input">
      <textarea id="messagebox" rows="5" cols="45" style="width: 100%;" wrap="soft" onkeypress="onTestChange();" placeholder="Type a message here..." ></textarea>
    </div>
      <button style="margin-top: 10px; padding: 10px;" onclick="send_message(null)" id="send">Send</button>
  </div>
</nav>
      <div class="inner-col">
            <button  id="hide_chat" class="hide-btn" type="button" style=" background-color: lightcoral; display: none;"    value="Hide Chat">Hide Chat</button>
            <button  id="show_chat" class="hide-btn" type="button" style=" background-color: lightgreen; "  value="Show Chat">Show Chat</button>
            <canvas id="visualizer" ></canvas>
      </div>
</body>
<script src="chatbox.js"></script>
<script src="websocket.js"></script>
<script src="onload_session.js"></script> -->


<!-- <script>  
    let canvas = document.querySelector("#visualizer");
    let ctx = canvas.getContext("2d");
    const width = canvas.clientWidth;
    const height = canvas.clientHeight;
    const dpr = window.devicePixelRatio || 1;
    canvas.width = width * dpr;
    canvas.height = height * dpr;
    ctx.scale(dpr, dpr);
    var pixel_size = 10
    var numRows =  Math.floor(canvas.height / pixel_size);
    var numCols =Math.floor(canvas.width / pixel_size);
    var celluar_automota_grid = []
    var big_canvas_grid = []
    var mag_view_w =3
    var mag_view_h = 3
    var rule = 30
    var t = 200


//////////////////////////////////////////////////

function binaryToInt(binaryStr) {
    let result = 0;
    let length = binaryStr.length;

    for (let  i = 0; i < length; i++) {
        if (binaryStr[i] == '1') {
            result += Math.pow(2, length - 1 - i);
        }
    }
    return result;
}
function reset(){
            celluar_automota_grid = []
            for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }
}
function check(e) {
        var code = e.keyCode;
            if (code == 38){
                console.log("Up");
                if (pixel_size-1 <=0 ){
                    return
                }
                pixel_size -=1
                numRows =  Math.floor(canvas.height / pixel_size);
                 numCols =Math.floor(canvas.width / pixel_size);
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }

             }
             if (code == 40){
                console.log("Down");
                pixel_size +=1
                numRows =  Math.floor(canvas.height / pixel_size);
                numCols =Math.floor(canvas.width / pixel_size);
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }


            }
            if (code == 39){
                console.log("Right");
                rule +=1
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                    if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }

            }  if (code == 37){
                console.log("Left");
                if (rule-1 <=0){
                    return
                }
                rule -=1
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }


            }
            console.log(rule)

        }
window.addEventListener('keydown',check,false);

///////////////////////////////////////////////////

function countNeighbors(row, col) {
        let count = 0;
        for (let i = -1; i <= 1; i++) {
        for (let j = -1; j <= 1; j++) {
            const r = row + i;
            const c = col + j;
            if (r >= 0 && r < numRows && c >= 0 &&
            c < numCols && !(i === 0 && j === 0)) {
            count += big_canvas_grid[r][c];
            }
        }
        }
        return count;
}
function updateGrid() {
        var newGrid = [];
        for (let i = 0; i < numRows; i++) {
            newGrid[i] = [];
            for (let j = 0; j < numCols; j++) {
                const neighbors = countNeighbors(i, j);
                if ((big_canvas_grid[i][j] === 1) && (neighbors < 2 || neighbors > 3)) {
                newGrid[i][j] = 0;
                } else if (big_canvas_grid[i][j] === 0 && neighbors === 3) {
                newGrid[i][j] = 1;
                } else {
                newGrid[i][j] = big_canvas_grid[i][j];
                }
            }
        }
        big_canvas_grid = newGrid;

        return big_canvas_grid
}

///////////////////////////////////////////////////

function mouseMove(e){
	e.preventDefault();
	cPostX = e.pageX - canvas.offsetLeft;
	cPostY = e.pageY - canvas.offsetTop;
	mouse_x = cPostX;
	mouse_y = cPostY;
	var current_x = Math.floor(mouse_x/pixel_size)
	var current_y = Math.floor(mouse_y/pixel_size)
	 big_canvas_grid[current_y][current_x] = 1

	for (let i=0; i<mag_view_h; i++){
			for (let j=0; j<mag_view_w; j++){
                big_canvas_grid[current_y+i][ current_x + j] =1
				}
		}

	}

//////////////////////////////////////////////////

    function main(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        if (big_canvas_grid.length ==  0){
                    // initial grid
                    for (let i =0; i<numRows; i++){
                        big_canvas_grid[i] = []
                        for (let j =0; j<numCols; j++){
                            big_canvas_grid[i][j] = 0;
                        }
                    }
                }

        if (celluar_automota_grid.length ==  0){
            for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                    if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }
        }
        for (let i=1; i < numRows; i++){
            for (let j=0; j < numCols; j++){
                    var x = j * pixel_size
			        var y = i * pixel_size
                    let currVal = celluar_automota_grid[i][j];
                    let left_neighbor = null;
                    let right_neighbor = null;
                    let top_neighbor = null; 
                    if (j-1 < 0){
                        left_neighbor = 0
                    }else{
                        left_neighbor = celluar_automota_grid[i-1][j-1]
                    }
                    if (j+1 < canvas.width){
                        right_neighbor = celluar_automota_grid[i-1][j+1]
                    }else{
                        right_neighbor = 0;
                    }
                    top_neighbor = celluar_automota_grid[i-1][j]
                    let r = left_neighbor + ""+top_neighbor+""+right_neighbor
                    let result = binaryToInt(r)
                    let is_valid = 0;
                    if (result == 7){
                        is_valid = rule & 0x80
                    }if (result == 6){
                        is_valid = rule & 0x40
                    }if (result == 5){
                        is_valid = rule & 0x20
                    }if (result == 4){
                        is_valid = rule & 0x10
                    }if (result == 3){
                        is_valid = rule & 0x8
                    }if (result == 2){
                        is_valid = rule & 0x4
                    }if (result == 1){
                        is_valid = rule & 0x2
                    }if (result == 0){
                        is_valid = rule & 0x1
                    }
                    if (is_valid){
                        celluar_automota_grid[i][j] = 1
                        ctx.fillStyle = 'rgba(0,0,0,.06)'
                        ctx.fillRect(x, y , pixel_size, pixel_size);
                    }
            }
        }

        big_canvas_grid = updateGrid() 

        for (let i =0; i<numRows; i++){
            for (let j =0; j<numCols; j++){
                var x = j * pixel_size
                var y = i * pixel_size
                if (big_canvas_grid[i][j] ==1){
                        ctx.fillStyle = 'rgba(0,0,0,.06)'
                        ctx.fillRect(x, y , pixel_size, pixel_size);
                }
            }
        }

	requestAnimationFrame(main);


    }
    canvas.addEventListener("mousemove", mouseMove, false);
    main()

</script> -->
