<!doctype html>
<title>Live Studio</title>
<style>
  * {
    box-sizing: border-box; 
  }
body, html {  overflow: hidden; }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .outer-col-1 {
    background: #e4effd;
    flex: 1;
  }

  .inner-col {
    flex: 6;
    outline: 1px solid black;
  }
    #visualizer {
        position: relative;
        width: 100%; height: 100%;

}
  .create-btn {
  /* position: absolute;
  top: 20px;   
  right: 10px; 
  z-index: 2;  */
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

  .hide-btn {
  border: none;
  border-radius: 6px;
  padding: 4px 6px;
  cursor: pointer;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.messages {
  flex: 1;       
  scrollbar-width: thin;    
  scroll-behavior: smooth;
  overflow-y: auto;     
  padding: 0.5em;
}

.chat-input {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;  
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.chat-input button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}
#send {
            font-size: 1rem;
            background-color: green;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

    button:hover {
            background-color: #9de1eb;
        }

        button:active {
            transform: scale(0.98);
        }
        
        input:focus {
            border-color: #9de1eb;
        }

 canvas, nav {
    padding: 1em;
  }
</style>
<body>

<nav class="outer-col-1" id="chatbox">

  <div id="chat" class="chat-container">  
    <h1>Live Chat</h1>
    <input hidden="true" id="username" placeholder="Your name..." onchange="change_username()" style="margin-bottom: 10px;"/>
    <input id="stop_session" class="create-btn" type="button" style="background-color: lightcoral; display: none;" value="Stop Session"/>
    <input id="create_session" class="create-btn" type="button" style="background-color: lightgreen;" value="+ Create Session"/>
    <div id="messages" class="messages">
    </div>
    
    <div class="chat-input">
      <textarea id="messagebox" rows="5" cols="45" style="width: 100%;" wrap="soft" placeholder="Type a message here..." ></textarea>
    </div>
      <button style="margin-top: 10px; padding: 10px;" onclick="send_message()" id="send">Send</button>
  </div>
</nav>
      <div class="inner-col">
            <button  id="hide_chat" class="hide-btn" type="button" style=" background-color: lightcoral;"   value="Hide Chat">Hide Chat</button>
            <button  id="show_chat" class="hide-btn" type="button" style=" background-color: lightgreen;  display: none;"  value="Show Chat">Show Chat</button>
            <canvas id="visualizer" ></canvas>

      </div>
</body>

<script>
    let sessionActive = false;
    let websocket_session = null;
    let sessionid = null;


	var nameList = [
	'Time','Past','Future','Dev',
	'Fly','Flying','Soar','Soaring','Power','Falling',
	'Fall','Jump','Cliff','Mountain','Rend','Red','Blue',
	'Green','Yellow','Gold','Demon','Demonic','Panda','Cat',
	'Kitty','Kitten','Zero','Memory','Trooper','XX','Bandit',
	'Fear','Light','Glow','Tread','Deep','Deeper','Deepest',
	'Mine','Your','Worst','Enemy','Hostile','Force','Video',
	'Game','Donkey','Mule','Colt','Cult','Cultist','Magnum',
	'Gun','Assault','Recon','Trap','Trapper','Redeem','Code',
	'Script','Writer','Near','Close','Open','Cube','Circle',
	'Geo','Genome','Germ','Spaz','Shot','Echo','Beta','Alpha',
	'Gamma','Omega','Seal','Squid','Money','Cash','Lord','King',
	'Duke','Rest','Fire','Flame','Morrow','Break','Breaker','Numb',
	'Ice','Cold','Rotten','Sick','Sickly','Janitor','Camel','Rooster',
	'Sand','Desert','Dessert','Hurdle','Racer','Eraser','Erase','Big',
	'Small','Short','Tall','Sith','Bounty','Hunter','Cracked','Broken',
	'Sad','Happy','Joy','Joyful','Crimson','Destiny','Deceit','Lies',
	'Lie','Honest','Destined','Bloxxer','Hawk','Eagle','Hawker','Walker',
	'Zombie','Sarge','Capt','Captain','Punch','One','Two','Uno','Slice',
	'Slash','Melt','Melted','Melting','Fell','Wolf','Hound',
	'Legacy','Sharp','Dead','Mew','Chuckle','Bubba','Bubble','Sandwich',
	'Smasher','Extreme','Multi','Universe','Ultimate','Death','Ready','Monkey',   'Elevator','Wrench','Grease','Head','Theme','Grand','Cool','Kid','Boy',
	'Girl','Vortex','Paradox'
	];
        
    function change_username(){
        if (websocket_session == null){return}
        let new_username = document.getElementById('username').value
        let old_username = sessionStorage.getItem("username")
        let message =  "**<b>"+old_username+"</b> has changed its name to: <b>"+ new_username+"</b>"
        let p = document.createElement('p');
        p.innerHTML = message;
        let chat = document.getElementById('messages')
        chat.appendChild(p);
        sessionStorage.setItem("username", new_username)

    }

	function generate() {
		return nameList[Math.floor( Math.random() * nameList.length )] + " " + nameList[Math.floor( Math.random() * nameList.length )];
	};

    function send_message(){
        if (websocket_session == null){return;}
        let username = sessionStorage.getItem("username");
        let userid = sessionStorage.getItem("userid");
        let text = document.getElementById("messagebox").value
        websocket_session.send(JSON.stringify({
            "operation": "message"
            ,'username': username
            ,'userid':userid
            ,'timestamp': new Date().toISOString()
            ,'sessionId': sessionid
            ,"content": text
        }))
        let p = document.createElement('p');
        p.innerHTML  = "<b>"+username+ ":</b> "+text;
        let chat = document.getElementById('messages')
        chat.appendChild(p);
        chat.scrollTop = chat.scrollHeight;
        document.getElementById("messagebox").value = ''
    }

    function windowResize() {
        const width = canvas.clientWidth;
        const height = canvas.clientHeight;
        const dpr = window.devicePixelRatio || 1;

        canvas.width = width * dpr;
        canvas.height = height * dpr;

        // reset transform so scale doesn’t accumulate
        ctx.setTransform(1, 0, 0, 1, 0, 0);
        ctx.scale(dpr, dpr);
}
    
    function start_websocket(sessionid, userid,username){
        if (websocket_session != null){return;}
        websocket_session = new WebSocket('wss://' + window.location.host  +'/life-of-sounds/live_studio/session?Id='+sessionid);
            websocket_session.onopen = () => {
                console.log("Websocket connection established");
                let data = {
                            'sessionId': sessionid
                            ,'userid': userid
                            ,'isHost': 1
                }
                var request = new Request('/life-of-sounds/live_studio/client', {
					method: 'POST',
					headers: new Headers({
								 'Accept': 'application/json',
				                 'Content-Type': 'text/json'
							})
                    ,body: data
                });
                fetch(request);

                document.getElementById("username").hidden = false
                document.getElementById("username").value = username
                document.getElementById("create_session").style.display = "none";
                document.getElementById("stop_session").style.display = "inline-block";

                let message = "Invitation Link:"
                let p = document.createElement('h1');
                p.textContent = message;
                let chat = document.getElementById('chat')
                chat.appendChild(p);

                let input = document.createElement('textarea');
                input.id = "myInput"
                input.rows = 5
                input.cols = 10
                input.wrap = "soft"
                let cpy_btn = document.createElement('button');
                cpy_btn.style.marginTop = "10px"
                cpy_btn.textContent = "Copy URL"
                cpy_btn.className = "create-btn"
                cpy_btn.onclick = function () {
                    var copyText = document.getElementById("myInput");
                        copyText.select();
                        copyText.setSelectionRange(0, 99999); // For mobile devices
                        navigator.clipboard.writeText(copyText.value);
                        cpy_btn.textContent = "Copied!"
                    }
                input.value = 'https://' + window.location.host  +'/life-of-sounds/live_studio/join?Id='+sessionid 
                input.disabled= true;
                chat = document.getElementById('chat')
                chat.appendChild(input);
                chat.appendChild(cpy_btn);
            }
         websocket_session.onmessage = (event) => {
            console.log("Message from server", event.data);
        }
        websocket_session.onclose = () => {
		    alert("Websocket connection closed");
        }
    }

    document.getElementById("show_chat").onclick = function () {
    sessionActive = true;
    document.getElementById("show_chat").style.display = "none";
    document.getElementById("hide_chat").style.display = "inline-block";
    document.getElementById("chatbox").hidden = false;
    windowResize()
    
        
    }
    
    document.getElementById("hide_chat").onclick = function () {
        sessionActive = false;
        document.getElementById("hide_chat").style.display = "none";
        document.getElementById("show_chat").style.display = "inline-block";
        document.getElementById("chatbox").hidden = true;
        windowResize()

    }

    document.getElementById("create_session").onclick = function () {
        let username = prompt("Your Name:", generate());
        let sessionName = prompt("Session Name:", "The "+generate()+ " Session");
        let userid = sessionStorage.getItem("userid");
        let body = {
            'name': sessionName
            ,'userid': userid
        }
        sessionStorage.setItem("username", username);
        var request = new Request('/life-of-sounds/live_studio/session', {
					method: 'POST',
					headers: new Headers({
								 'Accept': 'application/json',
				                 'Content-Type': 'text/json'
							})
                    ,body: data
			});
        fetch(request)
                .then((response)=> response.json())
                .then((data)=> {
                    if (data.hasOwnProperty("sessionId")){
                        location.hash = "session=" + data['sessionId'];
                        sessionid =  data['sessionId'];
                        start_websocket(data['sessionId'], userid,username);
                    }
                });
    }

    document.getElementById("stop_session").onclick = function () {
        sessionActive = false;
        document.getElementById("stop_session").style.display = "none";
        document.getElementById("create_session").style.display = "inline-block";
        websocket_session.close()
    }

    window.addEventListener("load", function() {
         data_request = new Request('/life-of-sounds/live_studio/user', {
                    method: 'GET'
                    ,headers: new Headers({
                        'Accept': 'application/json'
                        })
                });
            fetch(data_request)
                .then((response)=> response.json())
                .then((data)=> {
                    console.log(data)
                    sessionStorage.setItem('userid', data['userid'])
                }
            )
        if(window.location.hash) {
            if (sessionStorage.getItem("username") == null){
                sessionStorage.setItem("username", generate());
            }
            sessionid = window.location.hash.split("session=")[1]
            data_request = new Request('/life-of-sounds/live_studio/session?Id='+sessionid, {
                    method: 'GET'
                    ,headers: new Headers({
                        'Accept': 'application/json'
                        })
                });
            fetch(data_request)
                .then((response)=> response.json())
                .then((data)=> {
                    console.log(data)
                    let messages = data['values'];
                    messages.forEach(element => {
                        console.log(element['username'],element['content'])
                        let username = element['username'];
                        let text = element['content']
                        let p = document.createElement('p');
                        p.innerHTML  = "<b>"+username+ ":</b> "+text;
                        let chat = document.getElementById('messages')
                        chat.appendChild(p);
                    });
                    let chat = document.getElementById('messages')
                    chat.scrollTop = chat.scrollHeight;

                });
            start_websocket(sessionid);
        }else {
        // Fragment doesn't exist
        }
    });
    
    window.addEventListener('resize', windowResize);

</script>

<!-- <script>
    let canvas = document.querySelector("#visualizer");
    let ctx = canvas.getContext("2d");
    const width = canvas.clientWidth;
    const height = canvas.clientHeight;
    const dpr = window.devicePixelRatio || 1;
    canvas.width = width * dpr;
    canvas.height = height * dpr;
    ctx.scale(dpr, dpr);
    var pixel_size = 10
    var numRows =  Math.floor(canvas.height / pixel_size);
    var numCols =Math.floor(canvas.width / pixel_size);
    var celluar_automota_grid = []
    var big_canvas_grid = []
    var mag_view_w =3
    var mag_view_h = 3
    var rule = 30
    var t = 200


//////////////////////////////////////////////////

function binaryToInt(binaryStr) {
    let result = 0;
    let length = binaryStr.length;

    for (let  i = 0; i < length; i++) {
        if (binaryStr[i] == '1') {
            result += Math.pow(2, length - 1 - i);
        }
    }
    return result;
}
function reset(){
            celluar_automota_grid = []
            for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }
}
function check(e) {
        var code = e.keyCode;
            if (code == 38){
                console.log("Up");
                if (pixel_size-1 <=0 ){
                    return
                }
                pixel_size -=1
                numRows =  Math.floor(canvas.height / pixel_size);
                 numCols =Math.floor(canvas.width / pixel_size);
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }

             }
             if (code == 40){
                console.log("Down");
                pixel_size +=1
                numRows =  Math.floor(canvas.height / pixel_size);
                numCols =Math.floor(canvas.width / pixel_size);
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }


            }
            if (code == 39){
                console.log("Right");
                rule +=1
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                    if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }

            }  if (code == 37){
                console.log("Left");
                if (rule-1 <=0){
                    return
                }
                rule -=1
                for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                     if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }


            }
            console.log(rule)

        }
window.addEventListener('keydown',check,false);

///////////////////////////////////////////////////

function countNeighbors(row, col) {
        let count = 0;
        for (let i = -1; i <= 1; i++) {
        for (let j = -1; j <= 1; j++) {
            const r = row + i;
            const c = col + j;
            if (r >= 0 && r < numRows && c >= 0 &&
            c < numCols && !(i === 0 && j === 0)) {
            count += big_canvas_grid[r][c];
            }
        }
        }
        return count;
}
function updateGrid() {
        var newGrid = [];
        for (let i = 0; i < numRows; i++) {
            newGrid[i] = [];
            for (let j = 0; j < numCols; j++) {
                const neighbors = countNeighbors(i, j);
                if ((big_canvas_grid[i][j] === 1) && (neighbors < 2 || neighbors > 3)) {
                newGrid[i][j] = 0;
                } else if (big_canvas_grid[i][j] === 0 && neighbors === 3) {
                newGrid[i][j] = 1;
                } else {
                newGrid[i][j] = big_canvas_grid[i][j];
                }
            }
        }
        big_canvas_grid = newGrid;

        return big_canvas_grid
}

///////////////////////////////////////////////////

function mouseMove(e){
	e.preventDefault();
	cPostX = e.pageX - canvas.offsetLeft;
	cPostY = e.pageY - canvas.offsetTop;
	mouse_x = cPostX;
	mouse_y = cPostY;
	var current_x = Math.floor(mouse_x/pixel_size)
	var current_y = Math.floor(mouse_y/pixel_size)
	 big_canvas_grid[current_y][current_x] = 1

	for (let i=0; i<mag_view_h; i++){
			for (let j=0; j<mag_view_w; j++){
                big_canvas_grid[current_y+i][ current_x + j] =1
				}
		}

	}

//////////////////////////////////////////////////

    function main(){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        if (big_canvas_grid.length ==  0){
                    // initial grid
                    for (let i =0; i<numRows; i++){
                        big_canvas_grid[i] = []
                        for (let j =0; j<numCols; j++){
                            big_canvas_grid[i][j] = 0;
                        }
                    }
                }

        if (celluar_automota_grid.length ==  0){
            for (let i =0; i<numRows; i++){
                celluar_automota_grid[i] = []
                for (let j =0; j<numCols; j++){
                    celluar_automota_grid[i][j] = 0;
                    if (i == 0 && j == Math.floor(numCols*.5)){
                        celluar_automota_grid[i][j] = 1
                    }
                      if (i == 0 && j == t){
                        celluar_automota_grid[i][j] = 1
                    }
                }
            }
        }
        for (let i=1; i < numRows; i++){
            for (let j=0; j < numCols; j++){
                    var x = j * pixel_size
			        var y = i * pixel_size
                    let currVal = celluar_automota_grid[i][j];
                    let left_neighbor = null;
                    let right_neighbor = null;
                    let top_neighbor = null; 
                    if (j-1 < 0){
                        left_neighbor = 0
                    }else{
                        left_neighbor = celluar_automota_grid[i-1][j-1]
                    }
                    if (j+1 < canvas.width){
                        right_neighbor = celluar_automota_grid[i-1][j+1]
                    }else{
                        right_neighbor = 0;
                    }
                    top_neighbor = celluar_automota_grid[i-1][j]
                    let r = left_neighbor + ""+top_neighbor+""+right_neighbor
                    let result = binaryToInt(r)
                    let is_valid = 0;
                    if (result == 7){
                        is_valid = rule & 0x80
                    }if (result == 6){
                        is_valid = rule & 0x40
                    }if (result == 5){
                        is_valid = rule & 0x20
                    }if (result == 4){
                        is_valid = rule & 0x10
                    }if (result == 3){
                        is_valid = rule & 0x8
                    }if (result == 2){
                        is_valid = rule & 0x4
                    }if (result == 1){
                        is_valid = rule & 0x2
                    }if (result == 0){
                        is_valid = rule & 0x1
                    }
                    if (is_valid){
                        celluar_automota_grid[i][j] = 1
                        ctx.fillStyle = 'rgba(0,0,0,.06)'
                        ctx.fillRect(x, y , pixel_size, pixel_size);
                    }
            }
        }

        big_canvas_grid = updateGrid() 

        for (let i =0; i<numRows; i++){
            for (let j =0; j<numCols; j++){
                var x = j * pixel_size
                var y = i * pixel_size
                if (big_canvas_grid[i][j] ==1){
                        ctx.fillStyle = 'rgba(0,0,0,.06)'
                        ctx.fillRect(x, y , pixel_size, pixel_size);
                }
            }
        }

	requestAnimationFrame(main);


    }
    canvas.addEventListener("mousemove", mouseMove, false);
    main()

</script> -->
