<!doctype html>
<title>Live Studio</title>
<link rel="stylesheet" href="/life-of-sounds/chatbox_style.css">
<link rel="stylesheet" href="/life-of-sounds/canvas_style.css">
<body>
<div id="canvas_container">
    <div id="content">
        <button class="buttons" id="chatbox_btn">Hide Chat</button>
        <div id="chatbox">
            <button class="buttons" id="session_btn">+ Create Session</button>
        </div>
    </div>
    <canvas id="visualizer" style="width: 100%; height: 100%; display: block;"></canvas>
</div>


</body>
<script>
    let canvas = document.querySelector("#visualizer");
    let ctx = canvas.getContext("2d");
    const width = canvas.clientWidth;
    const height = canvas.clientHeight;
    const dpr = window.devicePixelRatio || 1;
    canvas.width = width * dpr;
    canvas.height = height * dpr;
    ctx.scale(dpr, dpr);
</script>
<script src="/life-of-sounds/game_of_life.js"></script>
<script>
    var pixel_size = 2
    var numRows =  Math.floor(canvas.height / pixel_size);
    var numCols =Math.floor(canvas.width / pixel_size);
    var big_canvas_grid = []
    var color = 'white'
    const connected_clients = new Map()
    var mag_view_w =3
    var mag_view_h = 3
    var mouse_x = 0;
    var mouse_y = 0;
    var gol = new GameOfLife(big_canvas_grid, numRows,numCols, pixel_size);
</script>
<script src="/life-of-sounds/websocket.js"></script>
<script src="/life-of-sounds/onload_session.js"></script>
</script>

