<!DOCTYPE html>
<html>
	<head></head>
	  <style>
    

    .fade-text {
      font-size: 2rem;
      color: #333;
      animation: fadeInOut 3s infinite;
    }

    @keyframes fadeInOut {
      0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }
  </style>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    td[contenteditable="true"] {
      background-color: #f9f9f9;
      outline: none;
    }
    td[contenteditable="true"]:focus {
      background-color: #e8f0fe;
    }
    button {
      margin-top: 10px;
      padding: 8px 12px;
      background-color: #3D6ECC;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #EFA9E3
    }
  </style>
	<body>
		<h1>Studio</h1>
		<div id="fade-text" class="fade-text"></div>

		
		<button onclick="location.href = '/life-of-sounds/home';" >home</button>
		<br>
		<br>
		<button onclick="open_microphone();" >Start Microphone</button>
		<button onclick="close_microphone();" >Close Microphone</button>
		<br>
		<div>
			<audio id="audio_stream_id" style="margin-top: 2%; width: 30%; " controls=""></audio>
		</div>

  <br>
<div id="audio_table_container">
</div>
		
	</body>

	<script>
	var stream = null;
	var websocket_id = null;
	var websocket_session = null;
	var userid = null;
	var audioId = null;
	var userInfo = null;

	function getCookie(c_name) {
		    if (document.cookie.length > 0) {
			c_start = document.cookie.indexOf(c_name + "=");
			if (c_start != -1) {
			    c_start = c_start + c_name.length + 1;
			    c_end = document.cookie.indexOf(";", c_start);
			    if (c_end == -1) {
				c_end = document.cookie.length;
			    }
			    return unescape(document.cookie.substring(c_start, c_end));
			}
		    }
		    return "";
		}
	
		function send_message(sessionid, message){
			var request = new Request('/life-of-sounds/session/'+sessionid, {
							method: 'GET',
							headers: new Headers({
										'Accept': 'application/json'
									})
				});
				fetch(request)
					.then((response)=> response.json())
					.then((data)=> {
					console.log(data['Id'])
					var blob = new Blob([message], { type: "text/plain" });
					var metadata = JSON.stringify({
								'type': 'text'
								,'userid': data['Id']
							});
					var combined_blob = new Blob([metadata,' ' ,blob], {type: "application/octet-stream"});
					websocket_session.send(combined_blob);
					})

		}

		function process_message(){
				if (websocket_session == null){
					alert("Websocket has not been initialized");
					return; 
				}
				var x = document.getElementById("myText").value;
				var sessionid = getCookie("session");
				 send_message(sessionid, x)


		}

	function generateUniqueId() {
		return Date.now().toString(36) + Math.random().toString(36).substr(2, 9);
		}
	
	async function  delete_existing_websocket(userid, sessionid){
		var request = new Request("/life-of-sounds/websocket?userid='"+userid+"'&sessionid='"+sessionid+"'" ,{
							method: 'DELETE',
							headers: new Headers({
										'Accept': 'application/json'
									})
				});
		var response = await fetch(request);
		if (response.status== 200){

		}




	}
	
	function main() {
			console.log(getCookie("session"));
			if (websocket_session == null){
				var sessionid = getCookie("session");
				var request = new Request('/life-of-sounds/session/'+sessionid, {
							method: 'GET',
							headers: new Headers({
										'Accept': 'application/json'
									})
				});
				fetch(request)
					.then((response)=> response.json())
					.then((data)=> {
						delete_existing_websocket(data["Id"], sessionid);
						start_websocket(data,sessionid);
    					create_table_data('audio', data["Id"])

					})
	}
		}

	async function get_audio(){

		var request = new Request('/life-of-sounds/session/user',{
					method: 'GET',
					headers: new Headers({
							'Accept': 'application/json'
							})
				});
		fetch(request)
			.then((response)=> response.json())
			.then((data)=> {
					console.log(data.Id);

					var audiorequest = new Request('/life-of-sounds/studio/audio?userid='+data.Id, {
								method: 'GET',
								headers: new Headers({
										'Accept': 'application/json'
										})
							});
					fetch(audiorequest);
				});
	}

	async function stop_websocket(){
		var request = new Request('/life-of-sounds/websocket/'+websocket_id, {
					method: 'DELETE',
					headers: new Headers({
							'Accept': 'application/json'
							})
				});
	 var response = await fetch(request);
	 if (response.status == 404){
		 alert("Websocket session not found");
		}
	}

	async function update_websocket(user,sessionid){
		var connected_on = new Date().toISOString();
		var request = new Request('/life-of-sounds/websocket', {
					method: 'PATCH',
					headers: new Headers({
								'Accept': 'application/json'
							})
					 ,body: JSON.stringify({
							userid: user["Id"]
							,sessionid: sessionid
                            ,connected_on: connected_on
							,Id: generateUniqueId()
						    })
			});
		var response =  await fetch(request);
		if (response.status == 400){
			alert("Error creating session.")
			return;
		}
	}

	async function start_websocket(user,sessionid){
		websocket_session = new WebSocket('wss://' + window.location.host  +'/life-of-sounds/websocket');
		is_connected = false
		websocket_session.onopen = () => {
			console.log("Websocket connection established");	
			alert("Connected.")
			is_connected = true;
			update_websocket(user,sessionid)		
		}
		websocket_session.onmessage = (event) => {
				console.log("Message from server:", event.data);
				data = JSON.parse(event.data)
				websocket_id = data.Id;
				userid = data.userid;
		}
		websocket_session.onerror = (error) => {
			console.error("Websocket error:", error);

		}
		websocket_session.onclose = () => {
			console.log("Websocket connection closed");

		}			
		if (is_connected){
			alert("Connected!")
		}
			

	}

	async function update_audio(userid){
		var endtime = new Date().toISOString();
		var data = {}
		data['endtime'] = endtime
		data['userid'] = userid
		var request = new Request('/life-of-sounds/audio', {
					method: 'PATCH'
					,headers: new Headers({
						'Accept': 'application/json',
						'Content-Type': 'text/json'	
					}),
					body: JSON.stringify(data)
				
				
				});
		const response = await fetch(request);
		if (response.status == 200){
	  			create_table_data('audio', userid)
				var elem = document.getElementById("fade-text")
				elem.innerHTML = "";

		}

	}
	
	async function close_microphone(){
		if (stream == null){
			alert("No Microphone detected");
			return;
		}
		stream.getTracks().forEach(track => track.stop());
		stream = null;
		var sessionid = getCookie("session");
		
		var request = new Request('/life-of-sounds/session/'+sessionid, {
								method: 'GET',
								headers: new Headers({
											'Accept': 'application/json'
										})
					});
	fetch(request)
						.then((response)=> response.json())
						.then((data)=> {
							update_audio(data['Id']);
						})

      document.getElementById("audio_table_container").innerHTML = "";



		
	}
	
	async function start_recording(uniqueId,audioName,  database, source,sessionid){
		stream = await navigator.mediaDevices.getUserMedia({audio: true});
		let chunks = [];
		let mediaRecorder = new MediaRecorder(stream);
		let sequence = 0;
		mediaRecorder.ondataavailable = function (e) {
		var metadata = JSON.stringify({
					'type': 'audio'
					,'sessionid': sessionid
					,'size': e.data.size
					,'Id': uniqueId
					,'audioName': audioName +".webm"
					,'database': database
					,'source': source

				});

		var combined_blob = new Blob([metadata,' ' ,e.data], {type: "audio/webm;codecs=opus"});
		websocket_session.send(combined_blob);
		console.log(e.data.size)
		chunks.push(e.data);
		};

	    mediaRecorder.onstop = function(e){
		    const blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' });
		    const audioUrl = URL.createObjectURL(blob);
		    var audio = document.getElementById("audio_stream_id");
		    console.log(audio);
		    audio.src =  audioUrl;

	    }
	    mediaRecorder.start(100);
		var elem = document.getElementById("fade-text")
		var text = document.createElement("p")
		text.textContent = "Recording..."
		elem.appendChild(text)



	}
	
	async function create_audio(uniqueId, audioName,path, source, database,userid,starttime){
			var data =JSON.stringify({
			"starttime":starttime
			,"audioName": audioName
			,"userid":userid 
			,"audioId" : uniqueId
			,"path": path
			,"source": source
			,"database": database
			});

	var request = new Request('/life-of-sounds/audio', {
			method: 'POST'
			,headers: new Headers({
				'Accept': 'application/json',
				'Content-Type': 'text/json'
			}),
			body: data


		});
		var response = await fetch(request);
		if (response.status == 200) {
			}


	}
	
	async function open_microphone(){
		if (websocket_session == null){
			alert("Websocket has not been initialized");
			return;
		}
		var sessionid = getCookie("session");
		let uniqueId = generateUniqueId();
		var  audioName = 'Audio_'+uniqueId;
		let source = 'recordings'
		let database = 'users'
		
		var starttime = new Date().toISOString();
		
		var request = new Request('/life-of-sounds/session/'+sessionid, {
							method: 'GET',
							headers: new Headers({
										'Accept': 'application/json'
									})
				});
		
		fetch(request)
			.then((response)=> response.json())
			.then((data)=> {
			console.log(data)
			let path = database+"/"+ data["Id"]+ "/" +source+ '/'+audioName + '.webm';

			create_audio(uniqueId, audioName,path, source, database,data['Id'],starttime)
			
			})
		start_recording(uniqueId,audioName, database, source,sessionid)
	
	}


window.onload = function() {
	main();

};

    async function update_audio_t(data){
        console.log("Sending "+ data)
        var request = new Request('/life-of-sounds/audio', {
					method: 'PATCH',
					headers: new Headers({
								'Accept': 'application/json'
							})
					 ,body: JSON.stringify(data)
			});
		var response =  await fetch(request);

    }

    function save_record(Id,editable_columns) {
      const table = document.getElementById('editableTable');
      const data = [];
      const th_rows = table.querySelectorAll('thead th');
      var count = 0;
      th_rows.forEach(row => {
        if (editable_columns.includes(row.textContent.toLowerCase())){
            console.log(row.textContent.toLowerCase())
            var col_name = row.textContent.toLowerCase()
            const rows = table.querySelectorAll('tbody tr');
            rows.forEach(row => {
                const cells = row.querySelectorAll('td');
                const rowData = Array.from(cells).map(cell =>
                cell.textContent.trim()
                );
                if (rowData.includes(Id)){
                    var json_data = {}
                    json_data["Id"] = Id
                    json_data[col_name] =  rowData[count]
                    update_audio_t(json_data)
                    data.push(json_data);
                  count +=1;

                }
            });
            
        }else{
          count +=1;
        }
      });
      console.log('Saved Data:', data);
    }

	async function load_audio(audioId){
				var request = new Request("/life-of-sounds/audio_blob?Id='"+audioId+"'", {
					method: 'GET',
					headers: new Headers({
								'Accept': 'application/octet-stream'
							})
			});
					fetch(request)
					.then(response => response.arrayBuffer())
					.then(arrayBuffer => {
						const blob = new Blob([arrayBuffer], { type: 'application/octet-stream' });
						const url = URL.createObjectURL(blob);

						const audioElem = document.getElementById("audio_" + audioId);
						audioElem.src = url;
						// audioElem.play();
						console.log(audioElem)
					})
					.catch(err => console.error("Fetch or playback error:", err));
	

	}

    function create_table(data,  editable_columns){
        const table = document.createElement('table');
        table.id = "editableTable"
			  const tableHead = document.createElement('thead');
			  const tableBody = document.createElement('tbody');
			  // Append the table head and body to table
			  table.appendChild(tableHead);
			  table.appendChild(tableBody);

			  // Creating table head
			  let row = tableHead.insertRow();
        if (editable_columns.length > 0 ){
              let th = document.createElement('th');
            //   th.textContent = "Action".toUpperCase();
              row.appendChild(th);
        }
			  Object.keys(data[0]).forEach(key => {
			    let th = document.createElement('th');
            th.textContent = key.toUpperCase();
            row.appendChild(th);
			  });
			  // Creating table body
			  data.forEach(item => {
			    let row = tableBody.insertRow();
          if (editable_columns.length > 0 ){
              let cell = row.insertCell();
              const button = document.createElement("button");
              button.textContent = "No Changes Made"; // Set button text
			  button.style.backgroundColor = 'gray'
			  button.disabled =  true
              button.id = item['Id']
			  cell.id = 'button_cell_'+item['Id']
			//   button.hidden = true

              
              button.onclick = function () {
                    save_record(button.id,editable_columns)
					button.textContent = "Saved!"
			  		button.style.backgroundColor = 'green'
					button.disabled =  true
				}; 
              cell.appendChild(button);
                }
            Object.keys(item).forEach(key => {
                var value = item[key];
                let cell = row.insertCell();
                if (editable_columns.length > 0 && editable_columns.includes(key)){
                  cell.setAttribute('contentEditable', 'true');
				  cell.addEventListener("input", (event) => {
					   var button = document.getElementById(item["Id"])
					   button.textContent = "Save Changes"
					   button.style.backgroundColor = 'red'
						button.disabled =  false
						var button_cell = document.getElementById("button_cell_"+item["Id"])
					   console.log(item)
						console.log("Cell value changed to:", event.target.innerText);
						});
					const t = document.createElement("p");
					t.textContent = value
					cell.appendChild(t);

                }
				else{
					if (key == "path"){
						const audioElement = document.createElement("audio");
						audioElement.id = "audio_"+ item['Id'];
						audioElement.controls = true; // Adds play/pause controls
						audioElement.loop = false; // Audio won't loop
						cell.style.display = 'flex';
						cell.style.justifyContent = 'center';
						cell.style.alignItems = 'center';
						cell.style.gap = '15px'; 
						cell.appendChild(audioElement);
						load_audio(item['Id'])
					}else{
					const t = document.createElement("p");
					t.textContent = value
					cell.appendChild(t);
					}
				}
            });
			  });
			  // Append the table to the HTML document
			  document.getElementById('audio_table_container').appendChild(table);

    }

    function create_table_data(entity, userid){
      document.getElementById("audio_table_container").innerHTML = "";
      editable_columns = []
	  ignore_columns = []
      if (entity == 'audio'){
          editable_columns = ['name']
		  ignore_columns = [ 'userid']
      }
    
    data_request = new Request("/life-of-sounds/"+entity+"?userid='"+userid+"'", {
                method: 'GET'
                ,headers: new Headers({
                      'Accept': 'application/json'
                    })
              });
          fetch(data_request)
            .then((response)=> response.json())
            .then((data)=> {
				var obj = data.values
				values = []
				Object.keys(obj).forEach(key => {
						audio_json = {}
						Object.keys(obj[key]).forEach(t => {
							audio_key = t 
							audio_value = obj[key][t]
							if (!ignore_columns.includes(audio_key)){
								audio_json[audio_key] = audio_value;
							}
					});
						values.push(audio_json)

				});
				console.log(values)
                create_table(values, editable_columns)

              });
    }

  </script>

</html>
